GENERAL_LOG_LEVEL=info
MANGASTRATEGY_E_MANGA_DOMAIN=https://e-hentai.org
MANGASTRATEGY_TMH_MANGA_DOMAIN=https://tmohentai.com
MANGASTRATEGY_TM_MANGA_DOMAIN=https://visortmo.com

WEBDAV_URL=
WEBDAV_USER=
WEBDAV_PASSWORD=

RABBITMQ_URL=amqp://192.168.3.39:5672/
RABBITMQ_HOST=192.168.3.39
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=

AZURESERVICEBUS_CONNECTION_STRING=
AZURESERVICEBUS_QUEUE_NAME=

TELEGRAMBOT_TOKEN=
