pip-system-certs==4.0
certifi==2024.8.30

pylint == 3.2.7
requests == 2.32.3
configparser == 7.1.0
fpdf2 == 2.7.9
Pillow == 10.4.0
pytest == 8.3.3
azure-servicebus == 7.12.3
tqdm == 4.66.5
mypy == 1.14.0
selenium == 4.27.1